
.about-me{
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap);

}

.about-me-text, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}


.about-me-img img{
    max-width: 50%;
    height: auto;
    margin-left: 26rem;  
}

.top3-jobs{
    max-width: 64rem; 
    display: flex;
    height: 100vh;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    
}
